.post
  %h2.tekst-1strona
    Witaj na karcie "Moje konto"
    %br/
    Jesteś zalogowany jako #{@user.name} #{@user.surname}
    %br/
    Twoje zakładki:
    %br/
    moje dane
    %br/
    Moje zamówienia
    %br/
    usuń konto
%p
