Jesteś zalogowany jako #{current_client.name} 
%br/
= link_to "Moje konto", client_path(current_client.id)
%br/
Moje zamówienia
%br/
= link_to "Moje adresy", addresses_path(current_client.id)
%br/
Moje wiadomości
%br/
- if current_client.client_type == "szkoła" || current_client.client_type == "biblioteka"
  Moi płatnicy
= link_to "   Wyloguj mnie", destroy_client_session_path, :method => "delete"
%br/
%br/
