Jesteś zalogowany jako #{current_client.name} 
= link_to "Moje konto", client_path(current_client.id)
%br/
Moje zamówienia
%br/
Moje adresy
%br/
Wiadomości
%br/
= link_to "   Wyloguj", destroy_client_session_path, :method => "delete"
%br/
%br/
