**********************************************************************
%br/
E-mail został wysłany automatycznie ze strony cdkigbookshop.heroku.com
%br/
Jeśli masz jakieś pytania, możesz odpowiedzieć na tę wiadomość używając opcji odpowiedz.
%br/
%br/
Centrum Dobrej Książki i Gry 
%br/
Częstochowa
