- if @user.errors.any?
  %div.alert-message.block-message.error
    %b Wystąpiły następujące błędy:
    - @user.errors.each do |attr, msg|
      %li
        = Pole
        %strong
          = t(attr)
        = msg
%br/

