Szanowni Państwo!
%br/
%p Doskonale wiemy iż nie tylko rynek wydawniczy się zmienia  ale także Państwa oczekiwania. Jeśli czegoś Państwu brakuje w naszej ofercie, chcielibyście się Państwo podzielić opinią czy sugestią lub jesteście zainteresowani współpracą z Centrum Dobrej Książki i Gry zachęcamy do skorzystania z elektronicznego formularza kontaktowego. 
  %p
    = link_to "Formularz kontaktowy", new_contact_path 
  %p 
    Jesteśmy do Państwa dyspozycji również poprzez:
    %br/ 
    Tel. (34) 343 03 23 w godzinach 8-16
    %br/
    Kom. 669 73 24 32 o dowolnej porze
    %br/
    Fax. (34) 343 00 32
    %br/
    e-mail: biuro@cdkig.pl
  %p 
    Dane firmy:
    %br/
    Centrum Dobrej Książki i Gry
    %br/
    ul. Olsztyńska 85/1
    %br/
    42-202 Częstochowa
    %br/
    NIP 949-189-93-96
  %p{:align => "center"}
