body {
	background: #e8e1d1;
	color: #7c6b4f;
	font-family: AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}

a {
	outline: 0;
	font-family: AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
	font-size: 16px;
}

img {
	border: none;
}

p a {
	color: #F5C16E;
}

p a:hover,
#body ul li a.readmore:hover,
#footer ul li div a.viewall:hover,
div.body span a:hover {
	color: #3e3524;
}

#page {	
	background: url(bg-body.jpg) repeat-x center top;
	overflow: hidden;
	width: 100%;
}

#header2 {
	margin: 0 auto;
	width: 960px;
}

#header2 div {
	margin: 65px 0 0;
	text-align: center;
}

#header2 div a {
	display: block;
	margin: 0 auto;
	width: 483px;
}

#header2 ul {
	list-style: none;
	margin: 25px 0 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

#header2 ul li {
	display: inline-block;
	margin: 5px 20px;
	box-shadow: 1px 1px 3px #CCB299;
}

#header2 ul li a {
	border: 1px solid #D6C2AD;
	color: #3D1F00;
	display: block;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
}

#header2 ul li a span {
	border: 1px solid white;
	background: #FFFFF5;
	cursor: pointer;
	display: block;
	height: 32px;
	padding: 0 15px;
}

#header2 ul li.current a,
#header2 ul li a:hover {
	color: #f2ffff;
}

#header2 ul li.current a span,
#header2 ul li a:hover span {
        background: #3D1F00;
}

#body,
div.body {
	background: #f6efe5;
	border: 1px solid #e0dacc;
	width: 90%;
	margin: 15px auto;
}

#body ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#body > ul > li {
	background: url(border-vertical.gif) repeat-y;
	float: left;
	position: relative;
	width: 28%;
}
#body > ul > li > div {
	margin: 20px;
}
#body > ul > li.large {
	width: 72%;
}

#body ul li:first-child {
	background: none;
}

#body ul li h1 a:hover {
	color: #1c3345;
}

#body ul li a img  {	
	display: block;	
	padding: 3px;
}

#body ul li span {
	color: #3e3524;
	display: block;
	font-size: 16px;
	font-family:  AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 0 0 5px;
	text-transform: uppercase;
}

#body ul li p {
	line-height: 23px;
	margin: 0;
	padding: 0;
	text-align: left;
}

#body ul li a.readmore {
	color: #69614a;
	display: block;
	height: 24px;
	line-height: 24px;
	position: absolute;
	left: 90px;
	bottom: 0;
	text-decoration: none;
	text-align: center;
	width: 142px;
}

div.body {
	padding: 30px 20px;
	width: 920px;
}

div.body h2 {
	color: #0D4D79;
	display: block;
	font-family:  AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
   	font-size: 28px;
    	line-height: 28px;
    	margin: 0;
    	padding: 0 0 30px;
	text-shadow: 0 1px #F8FFFF;
    	text-transform: uppercase;
}

div.body span,
div.body h3 {
	display: block;
	font-family:  AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
}

div.body span a,
div.body h3 a {
	color: #706758;
	text-decoration: none;
}

div.body span a:hover {
	text-decoration: underline;
}

div.body span b {
	font-weight: normal;
	text-transform: uppercase;
}

div.body div {
	margin: 0 0 31px;
	overflow: hidden;
}

div.body div#blog {
	margin: -30px 0 0;
}

div.body div#blog div.article {
	background: url(border-vertical.gif) repeat-y right top;
	float: left;
	padding: 30px 30px 0 0;
	width: 650px;
}

div.body div#blog div.article p {
	float: none;
	margin: 0;
	width: auto;
}

div.body div#blog div.sidebar {
	float: right;
	padding: 55px 0 0;
	width: 215px;
} 

div.body div#blog div.sidebar h2 {
	color: #7C6B4F;
	font-size: 16px;
	padding: 30px 0 0;
	text-shadow: none;
}
 
div.body div#blog div.sidebar ul {
	background: none;
	list-style: disc outside;
	overflow: visible;
}

div.body div#blog div.sidebar ul li {
	float: none;
	line-height: 24px;
}

div.body div#blog div.sidebar ul li:first-child  {
	float: none;
}

div.body div#blog div.sidebar ul li a {
	color: #7C6B4F;
	text-decoration: none;
}

div.body div#blog div.sidebar ul li a:hover {
	text-decoration: underline;
}

div.body div img {
	float: left;
	margin: 33px 0 0;
}

div.body div p {
	float: right;
	line-height: 24px;
	margin: 26px 0 0;
	padding: 0;
	text-align: left;
	width: 470px;
}

div.body p {
	line-height: 24px;
	margin: 0 0 29px;
	text-align: left;
}

div.body table tr td{
	padding: 0 40px 5px 0;
}

div.body ul {
	background: url(border-vertical.gif) repeat-y center top;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

div.body ul li {
	float: right;
	margin: 0 20px;
	width: 400px;
}

div.body ul li:first-child {
	float: left;
}

div.body ul li img {
	margin: 0 0 31px;
}

div.body ul li p {
	margin: 0;
}

div.body ul li span {
	line-height: 24px;
}

div.body ul li ul {
	background: none;
	list-style: disc outside;
	margin: 0;
	padding: 0 0 30px 15px;
}

div.body ul li ul li {
	float: none;
	margin: 0;
	padding: 0 0 0 5px;
	width: auto;
}

div.body ul li ul li:first-child {
	float: none;
}

.tekst {
	font-family: AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #3D1F00;
	text-align: left;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.tekst a{
	font-family: AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #3D1F00;
	text-decoration: underline;
}

h2.tekst {
	font-size: 22px; 
}
h2.tekst a {
	font-size: 22px; 
	font-weight: normal;
	color: #3D1F00;
	text-decoration: underline;
}
h3.tekst {
	font-size: 18px; 
}
h3.tekst a {
	font-size: 18px;
	font-weight: normal;
	color: #3D1F00;
	text-decoration: underline;
}
#footer {
	background: url(bg-footer.jpg) repeat-x center top;
	height: 70px;
	padding: 15px 0;
}

#footer div {
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}

#footer div p a {
	font-family:  AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
	font-size: 10px;
        color: #988878;	
	text-decoration: none;
	margin: 0;
}

#footer div p a:hover {
	color: #988878;
	text-decoration: none;
}

#footer div p.footnote {
	font-family:  AntykwaPoltawskiegoTTF, Verdana, Geneva, sans-serif;
        padding-top: 20px;
	font-size: 10px;
	float: right;
	color: #988878;
}
