%p
  Witaj #{@resource.email}!
%p Możesz potwierdzić utworzenie konta klikając w link poniżej:
%p= link_to 'Potwierdź utworzenie konta', client_confirmation_url( :confirmation_token => @resource.confirmation_token)
